@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-color: hsl(0, 0%, 16%);

  /* CSS HSL */
  --yale-blue: rgba(1, 55, 126, 1);
  --lavender-web: #f0f0ffff;
  --myrtle-green: rgba(42, 116, 116, 1);
  --saffron: #f8c630ff;
  --moonstone: #609fafff;

  --font-size-sm: 0.8em;
  --font-size-reg: 1em;
  --font-size-med: 1.4em;
  --font-size-lrg: 2em;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  background-color: var(--lavender-web);
  color: var(--font-color);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.one-half {
  width: 50%;
}

aside {
  position: relative;
  overflow: hidden;
  padding: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--lavender-web);
}

.login picture,
.login img {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner_container {
  width: 80%;
}

.inner_container h1 {
  font-weight: 800;
}

.inner_container p {
  font-size: var(--font-size-reg);
}

.inner_container label {
  font-size: var(--font-size-sm);
  margin-bottom: 0.2em;
}

.form_overflow {
  max-height: 300px;
  overflow-y: auto;
  padding-right: 0.5rem;
}

.form_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2em 0;
}

fieldset {
  display: flex;
  flex-direction: column;
  padding: 0.3em;
  border: none;
}

.input {
  padding: 0.8em;
  margin-bottom: 1em;
  border: none;
  border-radius: 4px;
  color: var(--font-color);
}

.submit_button {
  padding: 0.8em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: var(--font-color);
  background-color: var(--saffron);
  border: none;
  border-radius: 5px;
}

footer p {
  text-align: center;
  margin-top: 2em;
  font-size: 0.8em;
  color: hsl(0, 0%, 60%);
}

/*locker page*/

header {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffff;
}

.nav-links {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav {
  width: 80%;
}

.nav-links form {
  width: 20%;
}

.nav-links form button {
  border: none;
  padding: 1em 2em;
  background-color: var(--moonstone);
  font-weight: 600;
  color: var(--lavender-web);
  border-radius: 5px;
}

nav ul {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}

nav ul li {
  width: calc(100% / 3);
  text-align: center;
}

main {
  width: 60%;
  margin: 0 auto;
  padding: 2em 0.5em;
}

main section {
  display: flex;
  justify-content: center;
  gap: 2em;
  padding: 1em;
}

.card {
  width: calc(100% - 1em);
  padding: 2.5em 5em 2.5em 2em;
  background-color: var(--moonstone);
  border-radius: 8px;
  color: white;
}

.card h3 {
  margin-bottom: 1em;
}

.divider {
  margin: 0 auto;
  width: 60%;
  height: 3px;
  text-align: center;
  background-color: rgb(84, 84, 84);
}

.lockers-container {
  width: 100%;
  padding: 2em;
  background-color: var(--moonstone);
  border-radius: 8px;
  color: white;
}

.available-lockers {
  margin-top: 2em;
}

.available-lockers div {
  margin-bottom: 0.5em;
  padding: 0.8em 2em;
  background-color: rgb(205, 205, 205);
  border-radius: 6px;
  color: #333;
}

.locker-form h3 {
  margin-bottom: 2em;
}

.locker-form legend {
  font-weight: 500;
}

.locker-form .subheading {
  margin-bottom: 2em;
  font-size: var(--font-size-sm);
}

.locker-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

.locker-btn {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.locker-btn button {
  padding: 0.7em 1em;
  border: none;
  border-radius: 6px;
  background-color: red;
}

.locker-btn .success {
  background-color: #56b544;
}
