@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-color: hsl(0, 0%, 16%);

  /* CSS HSL */
  --yale-blue: rgba(1, 55, 126, 1);
  --lavender-web: #f0f0ffff;
  --myrtle-green: rgba(42, 116, 116, 1);
  --saffron: #f8c630ff;
  --moonstone: #609fafff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--lavender-web);
  color: var(--font-color);
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.one-half {
  width: 50%;
}

aside {
  position: relative;
  overflow: hidden;
  padding: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--lavender-web);
}

.login picture,
.login img {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner_container p {
  font-size: 0.7em;
  text-align: center;
}

.form_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inner_container h1 {
  margin-bottom: 30px;
  font-weight: 800;
  text-align: center;
}

.input {
  padding: 3px;
  margin-bottom: 15px;
  border: 1px solid hsl(0, 0%, 60%);
  border-radius: 4px;
  color: var(--font-color);
}

footer p {
  text-align: center;
  margin-bottom: 10px;
  font-size: 0.8em;
  color: hsl(0, 0%, 60%);
}

.submit_button {
  padding: 0.5em;
  margin-bottom: 10px;
  color: #333;
  background-color: var(--saffron);
  border: none;
  border-radius: 5px;
}
